<!DOCTYPE html>

<head>
    <title>catooning of real image</title>
    <link rel="shortcut icon" href="logo.jpg" color="red">
</head>

<body>
    <div class="wrapper">
        <div class="container">

            <form class="form">
                <div class="img">
                    <img src="logo.jpg" align="left" width="650" height="590">
                </div>
                <h1>WELCOME</h1>
                <h2>"WE HAVE TO STOP OPTIMIZING FOR PROGRAMMERS AND START OPTIMIZING FOR USERS"</h2>
                <h3>To move to the next page </h3>

                <link rel="stylesheet" href="design.css">
            </form>
            <a href=" http://localhost:8501" target="_parent" width="500px" height="500px"><button>CLICK HERE TO GO TO THE LOGIN PAGE</button>
               
            </a>

        </div>
    </div>

</body>